<div class="container">
  <div class="row text-center">
    <div class="col">
      <h2>A-Timeline {{ widthMonth }}</h2>
    </div>
  </div>

  <div id="timeRow" class="row text-center">
    <ng-container *ngFor="let year of rangeYear">
      <div #yearCol class="col">{{ year }}</div>
    </ng-container>

    <ng-container *ngIf="flag">
      <ul class="data">
        <ng-container *ngFor="let bubble of data">
          <li>
            <span [style.width]="widthMonth"class="bubble"></span>
          </li>
        </ng-container>
      </ul>
    </ng-container>
  </div>
</div>

<!--div class="timesheet">
    <ng-container *ngFor="let year of rangeYear ">
      <section>{{year}}</section>
    </ng-container>
</div-->
