<div class="container">
  <div class="row text-center">
    <h2>Edit time-line #{{ data.index }}</h2>
  </div>
  <div class="row text-center">
    <form [formGroup]="timelineEditForm" (ngSubmit)="onSubmit()">
      <div class="col">
        <mat-form-field>
          <mat-label for="start">Start year</mat-label>
          <input id="start" matInput type="month" formControlName="start" />
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field>
          <mat-label for="end">End year</mat-label>
          <input id="end" matInput type="month" formControlName="end" />
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field>
          <mat-label for="label">Label</mat-label>
          <input
            id="label"
            matInput
            type="text"
            formControlName="label"
            placeholder="Write a description, a title, a job..."
          />
        </mat-form-field>
      </div>

      <div class="row">
        <div class="col">
          <button
            type="button"
            class="btn btn-secondary btn-lg mt-3"
            type="submit"
          >
            Edit time-line
          </button>
        </div>
        <div class="col">
          <button
            type="button"
            class="btn btn-outline-secondary btn-lg mt-3"
            (click)="close()"
          >
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
