<div class="container-fluid">
  <div class="row text-center my-5">
    <h1>
      <strong>TiMe!</strong>
    </h1>
    <div class="col">
      <strong>TiMe!</strong> Is a simple tool to make a timeline of
      <strong>your</strong> most important <strong>life</strong> events: job
      career, books you've read, series you've
      watched, university exams and so on...
    </div>
  </div>
  <div class="row text-center justify-content-center mb-5">
    <div class="scroll-container" [style.height]="altezza + 'px'">
      <div #timeline id="timesheet" class="timesheet color-scheme-default" *ngIf="years.length > 0">
        <div class="scale">
          <section *ngFor="let year of years">{{ year }}</section>
        </div>
        <ul class="data">
          <li *ngFor="let bubble of bubbles">
            <span [style.margin-left.px]="bubble.marginLeft" [style.width.px]="bubble.width" [class]="bubble.class"
              [attr.data-duration]="bubble.duration">
              <span class="date">{{ bubble.dateLabel }}</span>
              <span class="label">{{ bubble.label }}</span>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div *ngIf="message" class="row text-center mb-5">
    <div class="col">
      <ng-container>
        {{ message }}
      </ng-container>
    </div>
  </div>
</div>

<div class="container ma-5">
  <div class="row text-center">
    <form [formGroup]="timelineForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col">
          <mat-form-field>
            <mat-label for="start">Start year</mat-label>
            <input id="start" matInput type="month" formControlName="start" />
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field>
            <mat-label for="end">End year</mat-label>
            <input id="end" matInput type="month" formControlName="end" />
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field>
            <mat-label for="label">Label</mat-label>
            <input id="label" matInput type="text" formControlName="label"
              placeholder="Write a description, a title, a job..." />
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field>
            <mat-label for="category">Category</mat-label>
            <mat-select formControlName="category">
              <mat-option value="default">Default</mat-option>
              <mat-option value="lorem">Green</mat-option>
              <mat-option value="ipsum">Blue</mat-option>
              <mat-option value="dolor">Yellow</mat-option>
              <mat-option value="sit">Purple</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-secondary btn-lg" type="submit">
            Add time-line
          </button>
        </div>
        <div *ngIf="data.length && data.length > 0" class="col">
          <button type="button" class="btn btn-outline-secondary btn-lg" (click)="saveAsImage()">
            <a #downloadLink>Save Timeline as image</a>
          </button>

          <button type="button" class="btn btn-primary btn-lg ms-2" (click)="onCopyLink()">
            Copy Share Link
          </button>
        </div>
      </div>
    </form>
  </div>

  <ng-container *ngIf="!message">
    <h3 class="mt-5 text-center"><strong>Your timeline data:</strong></h3>
    <ng-container *ngFor="let line of data; let index = index">
      <div class="row justify-content-between">
        <div class="col">
          <strong>Line {{ index }}</strong> <br />
          <span>Start: {{ line.start }} <br />
            End: {{ line.end }} <br />
            Label: {{ line.label }} <br />
            Category: {{ line.category }}</span>
        </div>
        <div class="col-3 text-end">
          <button type="button" class="btn btn-outline-secondary" (click)="editLine(index)">
            <mat-icon>edit</mat-icon>
          </button>

          <button type="button" class="btn btn-outline-secondary" (click)="deleteLine(index)">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </div>
      </div>
      <mat-divider></mat-divider>
    </ng-container>
  </ng-container>

  <div class="fixed-bottom text-center bg-light">
    This is a work in progress project. <br>
    For any feedback write me: <strong> <a
        href="mailto:andrea.galliani.29@gmail.com?subject=TIMELINE%20ME%20FEEDBACK">here</a> </strong> </div>

</div>